@charset "UTF-8";
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

/* Мои стили*/
.container {
  max-width: 1000px; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  font-family: 'RobotoCondensed-Regular'; }

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(26, 26, 26, 0.7);
  border-bottom: 1px solid #634e2f;
  z-index: 900; }

.header-not-fixed .flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo {
  padding-left: 75px;
  background: url(../img/logo02.png) 0 center no-repeat;
  background-size: 70px auto;
  text-decoration: none;
  height: 80px;
  padding-top: 15px; }

.logo span {
  display: block; }

.logo span:nth-child(1) strong {
  font-family: 'BebasNeueBook', 'BebasNeueBold';
  color: #eedd75;
  font-weight: 400; }

.logo span:nth-child(1) {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'BebasNeueBold';
  line-height: 32px;
  letter-spacing: 1.5px; }

.logo span:nth-child(2) {
  color: #fff;
  font-size: 15px;
  letter-spacing: .6px; }

.top-menu {
  display: block;
  list-style-type: disc; }

ul.top-menu {
  float: left; }

a.download-link {
  float: right;
  margin-top: 20px; }

.top-menu li {
  display: inline-block; }

ul li {
  list-style: none; }

.top-menu li a:hover {
  background: #3a3728;
  color: #eedd75; }

.top-menu li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f6f0;
  font-size: 15px;
  line-height: 83px;
  padding: 0 10px;
  font-family: 'RobotoCondensed-Bold';
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.download-link {
  padding: 0 15px;
  line-height: 45px;
  background: #00ab47;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f6f0;
  font-size: 15px;
  font-family: 'RobotoCondensed-Bold';
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 3px; }

.download-link:hover {
  background: #00cc55;
  text-decoration: none;
  color: #fff; }

.parallax-window {
  min-height: 800px;
  background: transparent;
  padding: 135px 0 120px 0;
  border-bottom: 1px solid #5f4828;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  color: #fff; }

.logo-big {
  font-size: 85px;
  font-family: "BebasNeueBold";
  color: #fff;
  line-height: 1;
  padding-top: 135px;
  background: url(../img/logo02+.png) center top no-repeat;
  background-size: 120px auto;
  letter-spacing: 3px;
  padding-bottom: 0px; }

.logo-big strong {
  font-weight: 400;
  color: #eedd75; }

.parallax-window h1 {
  font-family: "BebasNeueBold";
  font-size: 44px;
  font-weight: 400; }

/*   padding-bottom: 8px; */
.parallax-window h2 {
  font-weight: 400;
  font-size: 24px;
  font-family: "RobotoCondensed-Bold";
  padding-bottom: 5px; }

.download-link-style-2 {
  display: block;
  width: 210px;
  text-align: center;
  line-height: 70px;
  background: #00ab47;
  margin: 73px auto 10px auto;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f6f0;
  font-size: 20px;
  font-family: 'RobotoCondensed-Bold';
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 2px;
  position: relative;
  text-shadow: none; }

.download-link-style-2:hover {
  background: #00cc55;
  text-decoration: none;
  color: #fff; }

.support {
  color: #e5e3d3;
  font-size: 16px;
  text-align: center;
  display: inline-block; }

i.fa.fa-envelope {
  margin-right: 3px; }

.gallery {
  color: #fff;
  background: #242424;
  padding-top: 63px;
  padding-bottom: 1px; }

.style-h h2 {
  font-size: 44px;
  font-weight: 400;
  font-family: "BebasNeueBold";
  text-align: center;
  color: #f7f6f0;
  padding-bottom: 10px; }

.gallery h3 {
  padding-bottom: 55px; }

.style-h h3 {
  color: #e5e3d3;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 33px;
  padding-bottom: 40px; }

.list-photo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.list-photo .fancybox {
  width: 16.6666666%; }

.list-photo .fancybox img {
  width: 100%;
  height: auto;
  display: block; }

.wedding, .birthday, .kids {
  border-bottom: 1px solid #5f4828; }

/*FOOTER*/
footer {
  padding: 35px 0 15px 0;
  background: #1a1a1a;
  border-top: 1px solid #5f4828;
  position: relative;
  z-index: 400;
  margin-top: -1px; }

.copy {
  text-align: center;
  padding-top: 15px;
  font-size: 16px;
  color: #b2b1a4; }

.copy p {
  display: inline-block;
  padding-left: 37px;
  background: url(../img/logo02.png) 0 center no-repeat;
  background-size: 30px auto;
  padding-top: 12px;
  padding-bottom: 7px; }

.copy span {
  color: #fff; }

.copy span strong {
  color: #eedd75;
  font-weight: 400; }

.scroll-top {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: 50%;
  margin-right: -715px;
  bottom: 30px;
  background: url(../img/up-min.png) 0 0 no-repeat;
  display: none;
  cursor: pointer;
  color: #f0f4f7;
  font-size: 13px;
  text-align: center;
  padding-top: 35px;
  font-family: "RobotoCondensed-Bold";
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.scroll-top:hover {
  background: url(../img/up-min-hover.png) 0 0 no-repeat;
  color: #eedd75; }

/* ------ */
/* body
  background: #F44336 */
/* .menu-wrapper
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  width: $bar-width
  height: $bar-height + $bar-spacing*2
  cursor: pointer */
.menu-wrapper {
  position: absolute;
  right: 160px;
  margin-top: 33px;
  cursor: pointer; }

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 27px;
  height: 3px; }

.hamburger-menu {
  position: relative;
  -webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  transform: translateY(7px);
  background: white;
  -webkit-transition: all 0ms 300ms;
  -o-transition: all 0ms 300ms;
  transition: all 0ms 300ms; }
  .hamburger-menu.animate {
    background: rgba(255, 255, 255, 0); }

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  background: white;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background: white;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.hamburger-menu.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.hamburger-menu.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.menu-wrapper {
  display: none; }
